body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

ul.quiz-list, ul.quiz-list li {
    list-style: none;
    margin: 4px 0;
    padding: 0;
}

    ul.quiz-list li {
        padding: 4px;
        margin: 4px 0;
        border: 1px solid grey;
    }
        ul.quiz-list li:hover {
            background-color: #EEEEEE;
        }

        ul.quiz-list li h4 {
            display: block;
            background-color: #CCEEFF;
            padding: 4px;
            margin: -4px;
            margin-bottom: inherit;
        }
